.new-page h3{
    margin-bottom: 1.5rem;
    font-weight: 600;
}
.new-add-btn{
    padding: 0.5rem 2rem;
    font-weight: 700;
}

@media(max-width : 356px){
    h3{
        font-size: 17.84px;
    }
}

@media(min-width:353px) and (max-width:385px){
    h3{
        font-size: 20.84px;
    }
}