<link rel="stylesheet" href="../../css/filterOptions.css">
<div id="filters">
    <div class="filter-items">
      <div class="filter " value="Trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p> Trending</p>
       </div>
 
       <div class="filter ">
         <div><i class="fa-solid fa-bed"></i></div>
         <p>Rooms</p>
        </div>
 
        <div class="filter ">
         <div><i class="fa-solid fa-mountain-city"></i></div>
         <p>Iconic&nbsp;Cities</p>
        </div>
 
        <div class="filter ">
         <div><i class="fa-solid fa-mountain"></i></div>
         <p>Mountains</p>
        </div>
 
        <div class="filter ">
         <div><i class="fa-brands fa-fort-awesome"></i></div>
         <p>Castels</p>
        </div>
 
        <div class="filter ">
         <div><i class="fa-solid fa-person-swimming"></i></div>
         <p>Amazing&nbsp;Pools</p>
        </div>
 
        <div class="filter ">
         <div><i class="fa-solid fa-campground"></i></div>
         <p>Camping</p>
        </div>

        <div class="filter ">
          <div><i class="fa-regular fa-image"></i></div>
          <p>Amazing&nbsp;views</p>
        </div>

        <div class="filter">
          <div><i class="fa-solid fa-key"></i></div>
          <p>New</p>
        </div>

 
        <div class="filter" >
         <div><i class="fa-solid fa-cow"></i></div>
         <p>Farms</p>
        </div>
 

        <div class="filter ">
         <div><i class="fa-regular fa-snowflake"></i></div>
         <p>Arctic</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-tree-city"></i></div>
          <p>Treehouses</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-ship"></i></div>
          <p>Boats</p>
         </div>

        <div class="filter ">
          <div><i class="fa-solid fa-mug-hot"></i></div>
          <p>Bed&nbsp;&&nbsp;breakfast</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-igloo"></i></div>
          <p>Domes</p>
         </div>

        <div class="filter ">
          <div><i class="fa-solid fa-building"></i></div>
          <p>Top&nbsp;cities</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-guitar"></i></div>
          <p>Grand&nbsp;music</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-tree"></i></div>
          <p>Tropical</p>
        </div>
 
        <div class="filter ">
          <div><i class="fa-solid fa-person-skiing"></i>></div>
          <p>Ski&nbsp;in/out</p>
        </div>

        <div class="filter">
          <div><i class="fa-solid fa-caravan"></i></div>
          <p>Camper&nbsp;vans</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-umbrella-beach"></i></div>
          <p>Beach</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-kitchen-set"></i></div>
          <p>Chef's&nbsp;kitchens</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-golf-ball-tee"></i></div>
          <p>Golfing</p>
        </div>

        <div class="filter ">
          <div><i class="fa-solid fa-palette"></i></div>
          <p>Creative&nbsp;spaces</p>
        </div>


        <div class="filter ">
          <div><i class="fa-solid fa-table-tennis-paddle-ball"></i></div>
          <p>Play</p>
        </div> 

    </div>

     <div class="tax-toggle" id="tax">
      <div class="form-check-reverse form-switch ">
        <input class="form-check-input  " type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault"><span class="msg">Taxes Will Be Applied to All Stays &nbsp;</span> Display total after taxes</label>
      </div>
     </div>
  </div>